/*Here we import other css files*/
@import url("css/header.css");

body{
    font-family: 'Inter', sans-serif;
    font-weight: normal;
}

h1{
    font-family: 'Inter', sans-serif;
    font-weight: normal;
}