/* Reset CSS */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
form,
fieldset,
legend,
input,
textarea,
button,
span,
select {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Set a baseline font size and line height */
body {
  font-size: 16px;
  line-height: 1.5;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Reset anchor styles */
a {
  text-decoration: none;
  color: inherit;
}

