.about-section{
    display: var(--makeFlexBox);
    flex-direction: var(--makeColumns);
    justify-content: var(--centerVertically);
    align-items: var(--centerHorizontally);
}
.about-section img{width: 95%;}
.about-section__text {
    width: 100%;
    height: 400px;
    display: var(--makeFlexBox);
    flex-direction: var(--makeColumns);
    justify-content: var(--centerVertically);
    align-items: var(--centerHorizontally);
}
.about-section__text h6, .signup-section h6{
    font-size: var(----sizeOfSectionTitleFont);
    font-family: var(--fontFamilia);
    font-weight: var(--weightOfSectionFont);
    text-align: var(--centerText);
    margin: 0 0 10px 0;
    text-transform: var(--textCapitalize);
}
.about-section__text p{
    font-family: var(--fontFamilia);
    text-justify: auto;
    font-size: var(--sizeOfLinkFont);
    width: 90%;
    margin:var(--autoMarginalize);
    padding-top: 30px;
    line-height: 20px;
}