.articles-section{
    padding:var(--sectionPadding);
    background-color: #f8f8f8;
}
.articles-section h6{
    font-family: var(--fontFamilia);
    text-align: var(--centerText);
    text-transform: uppercase;
    font-size: var(----sizeOfSectionTitleFont);
    font-weight:var(--weightOfSectionFont);
    margin-bottom: 10px;
}
#section-line{
    height: 1px;
    width:60px;
    margin:var(--autoMarginalize);
    background-color:var(--lineColor);
}
.article-row{
    display: var(--makeFlexBox);
    flex-direction: var(--makeColumns);
    flex-wrap: nowrap;
    margin: 30px 0 0 0;
    justify-content: none;
    align-items: var(--centerHorizontally);
}
.article-col{
    width:95%;
    text-align: var(--centerText);
    background-color: #fff;
    margin: 30px 0 0 0;
}
.article-col img{
    width: 100%;
    height: auto;
}
.article-col p{
    font-size: 15px;
    font-family: var(--fontFamilia);
    width: 65%;
    margin: 0 auto;
    padding:70px 0;
}