.articles-section{
    padding:var(--section-padding);
    background-color: #f8f8f8;
}
.articles-section h6{
    font-family: var(--font-family);
    text-align: var(--textCenter-text-align);
    text-transform: uppercase;
    font-size: var(--sectionTitle-font-size);
    font-weight:var(--section-font-weight);
    margin-bottom: 10px;
}
#section-line{
    height: var(--secLine-height);
    width:var(--secLine-width);
    margin:var(--marginAuto-margin);
    background-color:var(--line-background-color);
}
.article-row{
    display: var(--display);
    flex-direction: var(--col-flex-direction);
    flex-wrap: nowrap;
    margin: 30px 0 0 0;
    justify-content: none;
    align-items: var(--horizCenter-align-items);
}
.article-col{
    width:95%;
    text-align: var(--textCenter-text-align);
    background-color: #fff;
    margin: 30px 0 0 0;
}
.article-col img{
    width: 100%;
    height: var(--img-height);
}
.article-col p{
    font-size: 15px;
    font-family: var(--font-family);
    width: 65%;
    margin: 0 auto;
    padding:70px 0;
}