footer{
    padding: 3rem 60px;
    display: var(--makeFlexBox);
    flex-direction: var(--makeColumns);
    justify-content: center;
    align-items: var(--centerHorizontally);
}
footer .footer__socials i{
    font-size: var(----sizeOfSectionTitleFont);
    margin-left: 16px;
    color: var(--fontColoredBlue);
}
.footer__links{margin:2rem 0;}
.footer__links a{
    font-family:var(--fontFamilia);
    display: block;
    color:var(--fontColor);
    text-align: var(--centerText);
    font-size: 11px;
    padding-left: 0;
    text-transform: var(--textCapitalize);
    font-weight: var(--weightOfSectionFont);
    line-height:20px;
    text-decoration: none;
}