header{
  background-image: url('../images/hero.webp');
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  margin-bottom: 20px;
}
header nav{
  font-family: var(--fontFamilia);
  height: 43px;
  display: var(--makeFlexBox);
  justify-content: var(--breathingSpace);
  align-items: var(--centerHorizontally);
  padding: 20px;
}
header nav h6{
  font-size: var( ----sizeOfSectionTitleFont);
  font-weight: var(--weightOfSectionFont);
  text-transform: var(--textCapitalize);
}
header nav h6 span{
  color: var(--fontColoredBlue);
}

.menu-links a{
  font-size: var(--sizeOfLinkFont);
  text-transform: var(--textCapitalize);
  font-weight: var(--weightOfSectionFont);
  color: var(--fontColor);
  text-decoration: none;
}
header button, .signup-section  button, footer button{
  font-size: var(--sizeOfLinkFont);
  text-transform: var(--textCapitalize);
  padding: 12px 20px;
  border: 1px solid #000;
  background-color: inherit;
}