.hero-text-box{
    display: var(--display);
    align-items:var(--horizCenter-align-items);
    justify-content: var(--vertCenter-justify-content);
    flex-direction: var(--col-flex-direction);
    text-align:var(--textCenter-text-align);
    font-family: var(--font-family);
    height: var(--hero-height);
}
.hero-text-box h1{
    text-transform: var(--text-transform);
    font-size:40px;
    line-height: 40px; 
    font-weight: 400;
    margin-bottom: 5px;
}
.hero-text-box p{
    text-transform: var(--text-transform);
    font-size: var(--paraSize-font-size)
}
#underline{
    width: var(--line-width);
    height:var(--line-height);
    margin-top: var(--line-margin-top);
    background-color: var(--line-background-color)
}