:root {
    /* Define CSS variables */
    --font-family: "Inter", sans-serif; /* all families are complicated */
    --font-size: 24px; /* set font size to this value */
    --logo-color: #CBDEEC; /* set the color of the Z letter to this value */
    --menu-items-margin: 10px; /* add some margin between items */
    --button-padding: 0 20px; /* space between text and button borders */
  }
  
  .nav {
    font-family: var(--font-family); /* all families are complicated */
    display: flex; /* flex navigation items in a row */
    justify-content: space-between; /* make breathing space between the items */
  }
  
  .logo {
    font-size: var(--font-size); /* set font size to this value */
  }
  
  .logo-D {
    margin-right: -5px; /* decrease the space between the logo letters */
  }
  
  .logo-Z {
    color: var(--logo-color); /* set the color of the Z letter to this value */
  }
  
  .menu-items ul {
    display: flex; /* set the display to flex */
    justify-content: space-between; /* make breathing space between the items */
    list-style: none; /* remove default list styles */
  }
  
  .menu-items li {
    margin-right: var(--menu-items-margin); /* add some margin between items */
    text-transform: uppercase; /* whatever is in the button, must be big letters */
    font-size: var(--font-size); /* set font size to this value */
    font-weight: normal; /* a fancy way of decreasing the boldness of the letters */
  }
  
  button {
    font-family: var(--font-family); /* all families are complicated */
    text-transform: uppercase; /* whatever is in the button, must be big letters */
    font-size: var(--font-size); /* set font size to this value */
  }
  
  .button button {
    padding-left: var(--button-padding); /* space between text and left button border */
    padding-right: var(--button-padding); /* space between text and right button border */
  }
  