.signup-section{
    padding: var(--section-padding);
    text-align: var(--textCenter-text-align);
    display: var(--display);
    flex-direction: var(--col-flex-direction);
    align-items: var(--horizCenter-align-items);
    background-color:var(--section-background-color);
}

.signup-section p{
    font-family: var(--font-family);
    font-size: var(--linkSize-font-size);
    margin-top: 2rem;
}
.signup-section input{
    padding: 16px;
    width: 80%;
    font-family: var(--font-family);
    border:none;
    background-color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
}