.signup-section{
    padding: var(--sectionPadding);
    text-align: var(--centerText);
    display: var(--makeFlexBox);
    flex-direction: var(--makeColumns);
    align-items: var(--centerHorizontally);
    background-color:#f8f8f8;
}

.signup-section p{
    font-family: var(--fontFamilia);
    font-size: var(--sizeOfLinkFont);
    margin-top: 2rem;
}
.signup-section input{
    padding: 16px;
    width: 80%;
    font-family: var(--fontFamilia);
    border:none;
    background-color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
}