:root{
    --fontFamilia: 'Inter', sans-serif;
    ----sizeOfSectionTitleFont: 25px;
    --weightOfSectionFont: 300;
    --sizeOfLinkFont:11px;
    --textCapitalize: uppercase; 
    --makeFlexBox: flex;
    --breathingSpace:space-between;
    --makeColumns: column;
    --makeRows: row;
    --centerVertically: center;
    --centerHorizontally: center;
    --centerText: center;
    --lineColor: #000;
    --sectionPadding:4rem 0;
    --autoMarginalize: 0 auto;
    --fontColor:#000;
    --fontColoredBlue:#4aa0de;
}